{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
    <div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque orci et tristique eleifend.
            Nullam aliquam justo eu tortor dapibus finibus. Nulla consectetur laoreet nibh, in pellentesque nulla
            consequat ac. Ut sagittis dui sed justo efficitur efficitur. Suspendisse ligula purus, consequat quis tortor
            et, elementum varius lorem. Donec efficitur sodales quam, in efficitur ex volutpat a. Suspendisse semper
            risus eros, venenatis convallis lectus mattis a. Donec posuere gravida volutpat. In euismod mauris at ligula
            commodo, id convallis felis ultricies. Cras efficitur lorem sed ligula ullamcorper, sit amet malesuada quam
            sollicitudin. Vestibulum feugiat erat eu sollicitudin tincidunt. Etiam id ex nec massa sagittis sagittis sed
            quis odio.</p></div>

{% endblock %}




